<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_1.name %>: <%=@game.player_1.hp%>HP
<%= @game.player_2.name %>: <%=@game.player_2.hp%>HP

<form action="/attack" method="post">
   <input type="submit" value="ATTACK!">
 </form>
